
/* 
tried visibility:hidden;
slide toggle uses display:none
block
inline
inline-block
none
 */

 div.drop-down-container{
  width: 50%;
 }

 div.selected-value{
  margin: 0;
  padding: 0;
  background-color: #CCC;
}

div.selected-value{
  display: block;
  padding: 0 20px;
  color: #000;
  font-size: 2em;
  line-height: 60px;
  text-decoration: none;
}

#dd{
  display: none; 
}

.dropdown {
  margin: 0;
  padding: 0;
  background-color: rgba(117, 204, 255, 1);
}

.dropdown a {
  display: block;
  padding: 0 20px;
  color: #FFF;
  font-size: 2em;
  line-height: 60px;
  text-decoration: none;
}

.dropdown a:hover { background-color: #000000; }
