.responsive{
	width: 100%;
}

.photo{
	box-sizing: border-box;
	border: 0px solid #ddd;
}

.mouse-framer {
  display: none;
  position: absolute;
  box-sizing: border-box;
  border: 5px solid blue;
  width: 120px;
  height: 120px;
  pointer-events: none;
}

.sticky-frame {
	display: block;
	position: absolute;
	box-sizing: border-box;
	border: 5px solid blue;
	width: 120px;
	height: 120px;
	pointer-events: auto;
}

.delete-button {
	color: white;
	font-weight: 600;
	font-size: .7em;
	text-align: center;
}

.delete-button {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background: blue;
	border-radius: 50%;
	transform: translateY(-12px) translateX(105px);
	pointer-events: auto;
}

 div.person-menu {
 	display: block;
 	position: absolute;
  width: 120px;
  transform: translateY(90px) translateX(-5px);
}

div.selected-value{
  margin: 0;
  width: 120px;
  background-color: blue;
}

div.selected-value{
  display: block;
  min-height: 20px;
  padding: 0 20px;
  color: #FFF;
  font-size: .7em;
  line-height: 20px;
  text-decoration: none;
}
 
#dd{
/*  display: none; */
	display: block;
}

.dropdown-content {
	display: none;
	position: relative;
  margin: 0;
  padding: 0;
  width: 120px;
  background-color: rgba(117, 204, 255, .8);
  z-index: 1;
}

.dropdown a {
  display: block;
  padding: 0 10px;
  color: blue;
  font-size: .7em;
  line-height: 20px;
  text-decoration: none;
}

.dropdown a:hover {
	color: white;
	background-color: blue; 
}