.responsive{
	width: 100%;
}

/* 
slide toggle uses display:none
block
inline
inline-block
none
 */
.photo{
	box-sizing: border-box;
	border: 0px solid #ddd;
}

/*.photobox {
	display: none;
	position: fixed; // fixed position gave chrome fits, not Firefox
	box-sizing: border-box;
	border: 10px solid blue;
	width: 150px;
	height: 150px;
	background-color: rgba(255, 255, 255, .5);
	pointer-events: none;
}*/

.personPicker {
  display: none;
  position: absolute;
  box-sizing: border-box;
  border: 10px solid blue;
  width: 150px;
  height: 150px;
  pointer-events: none;
}

/*.visibleMenu {
  display: none;
  position: absolute;
  box-sizing: border-box;
  background-color: red;
  width: 150px;
  height: 150px;
  pointer-events: none;
 }*/

 .div.personMenu {
   max-width: 150px;
  }

div.selected-value{
  margin: 0;
  max-width: 150px;
  background-color: #CCC;
}

div.selected-value{
  display: block;
  min-height: 20px;
  padding: 0 20px;
  color: #000;
  font-size: 1em;
  line-height: 20px;
  text-decoration: none;
}
 
#dd{
/*  display: none; */
	display: block;
}

.dropdown {
  margin: 0;
  padding: 0;
  max-width: 150px;
  background-color: rgba(117, 204, 255, 1);
}

.dropdown a {
  display: block;
  padding: 0 20px;
  color: #FFF;
  font-size: 1em;
  line-height: 20px;
  text-decoration: none;
}

.dropdown a:hover { background-color: #000000; }